body {
  text-align: center;
  margin: 0;
  font-family: 
  'Courier New',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.navbar, .card{
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  
}

.navbar {
  background-color: rgb(85, 85, 244);
  color: white;
  margin:auto;
  /* margin-top: 5px; */
  margin-bottom: 30px;
  max-width: 1200px;
  display: flex;
  font-size: large;
  border-radius: 8px;
  word-spacing: 8px;
}

.main-card-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
} 

.card {
  width: 600px;
  margin: 15px;
  text-align: justify;
}

.card__name {
  letter-spacing: 2px;
  text-align: center;
  margin: 30px;
}

.card__info-tab {
  background-color: rgb(237, 197, 255);
  width: 900px;
  /* padding: 8px; */
    
  padding: 25px;
  border-radius: 0 8px 8px 0;
}
.card__duration {
  font-weight: 600;
  font-size: small;
}

.card__location {
  font-style: italic;
}
.card__description {
  font-size: 1.1rem;
  font-weight: lighter;
}

img {
  width: 400px;
}
